<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianfei.mapper.xml.EmployeeMapper">
	<insert id="insert">
		insert into employee(id,name,sex,age,salary,password)
		values (#{id},#{name},#{sex},#{age},#{salary},#{password})
	</insert>
	
	<delete id="delete">
		delete from employee where id=#{id}
	</delete>
	
	<update id="update">
		update employee set password =#{password} where id=#{id} and name-#{name}
	</update>
	
	<select id="selectById">
		select * from employee where id=#{id}
	</select>
	
	<select id="select">
		select * from employee
	</select>
	

</mapper>