<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianfei.mapper.xml.ManagerMapper">
	<insert id="insert">
		insert into Manager(id,name,password,age,sex,salary)
		values (#{id},#{name},#{password},#{age},#{sex},#{salary})
	</insert>
	
	<delete id="delete">
		delete from manager where id=#{id}
	</delete>
	
	<update id="update">
		update manager set password =#{password} where id=#{id}
	</update>
	
	<select id="selectById">
		select * from manager where id={id}
	</select>
	
	 <select id="select">
	 	select * from manager
	 </select>
</mapper>